<% if @favorites.present? %>
<div class="favorites_lead">Showing favorites for <%= @user.name_and_username %>.</div>
	<% @favorites.each do |favorite| %>
		<%= render partial: "shared/list", locals: {resource: favorite.resource}%>
	<% end %>

<% else %>
	<div class="favorites_lead">You can save resources to your favorites list here.</div>
	<div class="favorites_second">When you want to check out an item, you can pull up this list in the office. Your program managers also have access to this list, so you can use this to reference specific items (e.g., to confirm that copies are actually available for checkout).</div>
<% end %>