<div class="checkout_heading expand_checkout">Outstanding:</div>
<div class="checkout_section">
<% if @checkouts_out.present? %>
	<% @checkouts_out.each do |checkout| %>
		<%= render partial: "shared/checkouts", locals: {checkout: checkout}%>
	<% end %>
<% else %>
	<div class="checkout_entry">None</div>
<% end %>
</div>

<div class="fully_checked">
	<% if @checkouts_ret.present? %>
	<div class="checkout_heading expand_checkout">Fully returned: <span class="checkout_sub">(click to expand)</span></div>
	<div class="checkout_section hide_before_expand">
		<% @checkouts_ret.each do |checkout| %>
			<%= render partial: "shared/checkouts", locals: {checkout: checkout}%>
		<% end %>
	</div>
	<% end %>
</div>
