<% content_for :showing_results do %>
	<div class="showing_space">
		Search all <%= @resource_count %> resources.
	</div>

<% end %>

<% unless current_user %>
Please log in
<%= render partial: "shared/login" %>
<% end %>
