<ul>
	<li><%= link_to "View/Edit Users", users_path %></li>
	<li><%= link_to "Add User", 'signup' %></li>
	<li>View Checkouts by Artist</li>
	<li>View All Checkouts</li>
	<li><%= link_to "Export Library Catalog", excel_path(format: "xls") %> (download as Excel file)</li>
</ul>