/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #5b5b5b;
}

#full_head {
  padding-top: 10px;
}

.menu_bar > div {
  padding: none;
}

.menu_list ul, .login_div ul {
  list-style-type: none;
  padding: none;
}

.title_link:link, .title_link:visited, .title_link:hover, .title_link:active {
  color: #5b5b5b;
  text-decoration: none;
}

.mogtitle {
  font-family: 'Libre Baskerville', serif;
  text-align: center
}

.region_label {
  font-weight: 300;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #5b5b5b;
  font-size: 90%;
}

.username {
  font-weight: 700;
}

#search_bar label {
  text-align: right;
}

#search {
  background-color: #faf8f6;
  border: 1px solid #f8e6e3;
  box-shadow: 2px 2px 5px #e2d5c8;
  border-radius: 15px;
  color: #757575;
}

#search:focus {
  border: 1px solid #757575;
  box-shadow: 2px 2px 10px #aec1d4;
}

#search:hover {
  border: 1px solid #757575;
  box-shadow: 2px 2px 15px #a9c1d9;
}

#search-form button {
  position: relative;
  top: .5em;
  left: -15px;
}

.login_div {
  text-align: right;
}

#main_body {
  margin-bottom: 20px;
}

.entry {
  border-left: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  border-radius: 5px 5px 5px 25px;
  margin-bottom: 10px;
  padding-top: 10px;
  background-color: #fff;
}

.entry:hover {
  background-color: #fbf9f7;
  box-shadow: 0px 2px 10px #e2d5c8;
}


.writer_title {
  font-weight: 300;
}

.title_text {
	font-weight: 700;
  font-size: 110%;
}

.title_text:hover {
  text-decoration: underline;
}

.avail_row {
  font-size: 90%;
  font-weight: 300;
}

ul.moreinfo_list {
  list-style-type: none;
  padding-left: 0;
}

/* For hidden Additional Info section */
.moreinfo_sect {
  display: none;
}

.inline_comments {
  list-style-type: none;
  padding: none;
  position: relative;
  left: -25px;
}

.inline_comments .comment {
  font-weight: 300;
}

.inline_comments .stars {
  font-size: 75%;

}

/* For anything that causes the Additional Info section to expand */
.expander:hover {
  cursor: pointer;
}

.attr_value {
  font-weight: 300;
}

.pic_col {
  text-align: center;
  padding-bottom: 10px
}


.pic_link img {
  max-width:80px;
  max-height:100px;
  width:auto;
  height:auto;
  margin: auto;
  display: block;
  border: 1px solid #cbbfb4;
  padding: 2px;
}

.pic_link img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  border-color: #b45f06;
}

.showing_space {
  margin-top: 10px;
  margin-left: 10px;
  color: #757575;
  font-weight: 300;
}

.page_space {
  text-align: center;
  padding: none;
  height: 40px;
}

.rating {
  font-weight: 300;
  font-size: 90%;
  color: #9b5205;
}

.rating .stars {
  font-size: 90%;
}

.rating:hover {
  text-decoration: underline;
  cursor: pointer
}


/* Temp css for pagination, borrowed from Apple store */
.pagination {
  height: 30px;
  color: #5b5b5b;
  text-align: center;
  padding: none;
  cursor: default;
  position: relative;
  top: -15px;
}
.pagination a, .pagination span {
    padding: 0px 5px; }
.pagination .disabled {
    color: #aaaaaa; }
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #faf8f6;
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
    display: inline;
    padding: 0px 5px;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.pagination a {
    text-decoration: none;
    color: #757575;
    border: 1px solid #fff; }
.pagination a:hover, .pagination a:focus {
    text-decoration: none;
    font-style: normal;
    background-color: #faf8f6;
    color: #757575;
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
    display: inline;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    }

.nothing_found {
  padding-top: 20px;
}

.edit_resource, .new_resource {
  position: relative;
  top: 10px;
}

.edit_resource .form-control, .new_resource .form-control {
  margin-bottom: 10px;
}

.edit_resource label, .new_resource label {
  text-align: right;
  position: relative;
  top: .5em;
  left: 15px;
}

.edit_resource .subm_edit_btn, .new_resource .subm_edit_btn{
  text-align: center;
  margin-bottom: 10px;
}

.login-form {
  margin-top: 15px;
}

.login-form h1 {
  margin-top: 0px;
  padding-top: 0px;
}

.login-form .form-box {
  padding: 30px 20px;
  background-color: #f8f8f8;
  border: 1px solid #f8e6e3;
  box-shadow: 2px 2px 5px #e2d5c8;
}

.login-form input[type=text], input[type=password] {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  margin-left: 0px;
  padding-left: 5px;
  color: #757575;
}

.login-form input[type=submit] {
  display: block;
  width: 100%;
  height: 40px;
}

.backend {
  margin-top: 30px;
  color: #909090;
  font-size: 200%;
  font-weight: 300;
}

.backend_list {
  border-left: 3px solid #b7b7b7;
  border-radius: 10px;
  color: #909090;
  font-weight: 400;
  margin-top: 10px;
}

.backend a:link {
    color: #909090;
}

.backend a:visited {
  color: #909090;
}

.backend a:hover {
  color: #909090;
}

.backend a:active {
  color: #909090;
}

.backend ul {
  list-style-type: none;
  padding: none;
  position: relative;
  left: -20px;
}

.backend li {
  margin-bottom: 0.25em;
}

.backend .subtitle {
  font-size: 65%;
  font-weight: 300;
}

.backend .bullet {
  font-weight: 400;
}

.user_checkouts {
  margin-top: 30px;
  color: #909090;
  font-size: 150%;
  font-weight: 300;
}

.user_checkout_list {
  border-left: 3px solid #b7b7b7;
  border-radius: 10px;
  color: #909090;
  font-weight: 400;
  margin-top: 10px;
}

.user_checkouts a:link {
    color: #909090;
}

.user_checkouts a:visited {
  color: #909090;
}

.user_checkouts a:hover {
  color: #909090;
}

.user_checkouts a:active {
  color: #909090;
}

.user_checkouts ul {
  list-style-type: none;
  padding: none;
  position: relative;
  left: -20px;
}

.user_checkouts li {
  margin-top: 0.25em;
}

.user_checkouts .bullet {
  font-weight: 300;
}


.checkouts_lead {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #909090;
  text-align: center
}

.checkout_heading {
  font-size: 150%;
  color: #909090;
  font-weight: 300;
}

.checkout_section {
  border-left: 3px solid #b7b7b7;
  border-radius: 10px;
  margin-bottom: 20px;
}

.checkout_entry {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 300;
  position: relative;
  left: 20px;
  padding-bottom: 10px;
  padding-top: 3px
}

.checkout_entry .title {
  font-size: 120%;
  font-weight: 400;
}

.checkout_entry img {
  max-width:80px;
  max-height:100px;
  width:auto;
  height:auto;
  margin-left: 10px;
  margin-top: 5px;
  display: block;
  border: 1px solid #cbbfb4;
  padding: 2px;
}

.checkout_entry .cat {
  font-weight: 400;
}

.checkout_entry a {
  font-weight: 400;
}

.checkout_entry .num_out {
  font-size: 120%;
  color: #000;
}

/* New Checkout Form */

.checkout_form .control-label {
  text-align: right;
  position: relative;
}

.checkout_form {
  padding: none;
  color: #757575;
}

.checkout_form .title {
 margin-top: 10px;
 margin-left: 15px;
 margin-bottom: 20px;
 color: #757575;
}

.checkout_form select {
  display: block;
  font-size: 150%;
  width: 100%;
  margin-bottom: 10px
}

.checkout_form .row {
  margin-bottom: 10px
}

.checkout_form .max {
  font-weight: 300;
  position: relative;
  top: .5em;
  left: -15px;
}

.checkout_form .best {
  font-weight: 300;
  position: relative;
  top: 3px;
  left: 5px;
}

.checkout_form .form-box {
  padding: 30px 20px;
  background-color: #f8f8f8;
  border: 1px solid #f8e6e3;
  box-shadow: 2px 2px 5px #e2d5c8;
  color: #757575;
}

.checkout_form input, textarea {
  color: #757575;
}

.checkout_form input[type=submit] {
  display: block;
  width: 100%;
  height: 40px;
  color: #fff;
}

.checkout_form .subm_edit_btn {
  margin-top: 5px
}

.checkout_form .radio-inline {
  margin-left: 15px
}

.checkout_form .radio_label {
  position: relative;
  top: 3px;
}

.checkout_form input[type=text], input[type=password] {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  margin-left: 0px;
  padding-left: 5px;
  color: #757575;
}

.checkout_form .account_name {
  font-weight: 300
}


.comments_lead {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #909090;
  text-align: center
}

.comments_heading {
  font-size: 150%;
  color: #909090;
  font-weight: 300;
  margin-top: 10px;
}

.comments_section {
  border-left: 3px solid #b7b7b7;
  border-radius: 10px;
  margin-bottom: 20px;
}

.comment_entry {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 300;
  position: relative;
  left: 20px;
  padding-bottom: 10px;
  padding-top: 3px
}

.comment_entry .title {
  font-size: 120%;
  font-weight: 400;
}

.comment_entry img {
  max-width:80px;
  max-height:100px;
  width:auto;
  height:auto;
  margin-left: 10px;
  margin-top: 5px;
  display: block;
  border: 1px solid #cbbfb4;
  padding: 2px;
}


.comment_entry .cat {
  font-weight: 400;
}

.comment_entry a {
  font-weight: 400;
}

.resource_form input[type=submit]{
  display: block;
  width: 100%;
  height: 40px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 10px
}

.resource_form .radio-inline {
  margin-left: 10px;
}

.resource_form .radio_label {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px
}

.resource_form .form_target {
  margin-top: 10px
}

.user_table {
  margin-top: 20px
}

.user_table .pw {
  text-align: center;
}

.delete_button {
  text-align: right
}
